# RABBITMQ
RABBITMQ_DEFAULT_USER=gophprofile
RABBITMQ_DEFAULT_PASS=gophprofile

# MinIO
MINIO_ROOT_USER=gophprofile
MINIO_ROOT_PASSWORD=gophprofile

# Server
TARGETOS=linux
TARGETARCH=amd64
GO_MAIN_PATH=./cmd/server
POSTGRES_HOST=postgres
POSTGRES_PORT=5435
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
MINIO_ENDPOINT=minio
MINIO_ACCESS_KEY=gophprofile
MINIO_SECRET_KEY=gophprofile
MINIO_BUCKET_NAME=gophprofile
MINIO_USE_SSL=false

# Client (nginx)
CLIENT_MAX_BODY_SIZE=10m